Repository izgorodin/langgraph-data-analysis-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: lgda-task-validation, adr-reference-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--strict]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
      - id: bandit
        args: ['-r', 'src']
        exclude: ^tests/

  - repo: local
    hooks:
      - id: lgda-task-validation
        name: Validate LGDA Task Files
        entry: python scripts/validate_tasks.py
        language: python
        files: ^tasks/LGDA-.*\.md$
        pass_filenames: false

      - id: security-scan
        name: Security Pattern Check
        entry: bash -c 'if grep -r -i "api_key\|password\|secret\|token" src/ --include="*.py" | grep -v "# TODO\|# FIXME"; then echo "Potential hardcoded secrets found!" && exit 1; fi'
        language: system
        pass_filenames: false

      - id: adr-reference-check
        name: Check ADR References
        entry: python scripts/check_adr_compliance.py
        language: python
        files: ^src/.*\.py$
        pass_filenames: true

LGDA-001: Complete CI/CD setup with working security scanning
  .pre-commit-config.yaml
  Makefile
  scripts/security_check.sh
Due: none

feat: Add comprehensive mock system for development
  .env.example
  cli.py
  src/bq.py
  src/llm.py
  tests/integration/test_langgraph_flow.py
Due: adr-reference-check

chore: add LGDA-006 bq-client hardening task; annotate env-based secrets; minor formatting; remove obsolete LGDA-003R file
  .github/ISSUE_TEMPLATE/task.md
  AGENT_PRINCIPLES.md
  src/bq.py
  src/config.py
  src/llm.py
  tasks/LGDA-006-bq-client-hardening.md
Due: lgda-task-validation, adr-reference-check

LGDA-005 bootstrap: .env auto-load, BQ creds (base64/file), CLI error handling; NVIDIA env docs; --model override wiring
  .env.example
  cli.py
  src/bq.py
  src/config.py
  src/llm/compat.py
Due: adr-reference-check

LGDA-005: clarify ENV compatibility, phased rollout, and non-goals
  tasks/LGDA-005-configuration-management.md
Due: lgda-task-validation

LGDA-006: add parallel development guidelines to avoid conflicts with LGDA-005
  tasks/LGDA-006-bq-client-hardening.md
Due: lgda-task-validation

Security: remove leaked key from samples; add SECURITY.md; add LGDA-006 flags
  .env.example
  SECURITY.md
Due: none

Align .env.example with local env structure (no secrets): NVIDIA defaults, dev flags
  .env.example
Due: none

Config: default model is Gemini per spec; keep NVIDIA placeholders
  .env.example
Due: none

Fix indentation in ConfigFactory.create_config()
  requirements.txt
  src/config.py
  src/llm.py
  src/llm/models.py
  tests/unit/test_lgda_config.py
Due: adr-reference-check

Update tests/utils/test_data_generators.py
  tests/utils/test_data_generators.py
Due: none

Update tests/unit/sql_validation/test_limit_injection.py
  tests/unit/sql_validation/test_limit_injection.py
Due: none

Update tests/unit/sql_validation/test_sqlglot_integration.py
  tests/unit/sql_validation/test_sqlglot_integration.py
Due: none

Update tests/unit/test_bq_hardening.py
  tests/unit/test_bq_hardening.py
Due: none

MILESTONE: Working NVIDIA LLM + BigQuery integration with retry foundations
  cli.py
  src/agent/graph.py
  src/agent/nodes.py
  src/agent/prompts.py
  src/agent/state.py
  src/config.py
  src/llm/compat.py
  src/llm/models.py
  tests/unit/sql_validation/test_limit_injection.py
  tests/unit/sql_validation/test_sqlglot_integration.py
  tests/unit/test_bq_hardening.py
Due: adr-reference-check

🚀 COMPLETE TECHNICAL DEBT RESOLUTION TASK FRAMEWORK
  docs/ADR/ADR-001-unified-retry-architecture.md
  docs/ADR/ADR-002-configuration-management.md
  docs/ADR/SEED-ADR/000-index.md
  docs/ADR/SEED-ADR/001-language-and-stack.md
  docs/ADR/SEED-ADR/002-graph-architecture.md
  docs/ADR/SEED-ADR/003-sql-security.md
  docs/ADR/SEED-ADR/004-llm-provider-fallback.md
  docs/ADR/SEED-ADR/005-cli-and-tracing.md
  docs/ADR/SEED-ADR/006-schema-context.md
  docs/architecture-analysis-2025-01-20.md
  docs/implementation-plan-technical-debt.md
  tasks/LGDA-007-unified-retry-architecture.md
  tasks/LGDA-008-configuration-management.md
  tasks/LGDA-009-error-handling-recovery.md
  tasks/LGDA-010-test-infrastructure-enhancement.md
  tasks/LGDA-011-production-observability.md
  tasks/LGDA-012-performance-optimization.md
  tasks/LGDA-013-security-hardening.md
  tasks/PARALLEL-EXECUTION-PLAN.md
Due: lgda-task-validation

PR-26: observability + config stability fixes; graph recursion prevention; CLI streaming hardening; tests all green
  cli.py
  docs/reviews/PR25-unified-config-review.md
  docs/reviews/PR26-observability-review.md
  src/agent/graph.py
  src/config.py
  src/llm/models.py
  src/observability/__init__.py
  src/observability/business_metrics.py
  src/observability/health.py
  src/observability/instrumented_nodes.py
  src/observability/logging.py
  src/observability/manager.py
  src/observability/metrics.py
  src/observability/tracing.py
  tests/unit/observability/test_business_metrics.py
  tests/unit/observability/test_logging.py
  tests/unit/observability/test_manager.py
  tests/unit/observability/test_metrics.py
  tests/utils/test_data_generators.py
Due: adr-reference-check

ci: pre-commit passes — final E501 wrap in secret scanner
  .github/workflows/auto-label.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/scan_secrets.py
  tasks/LGDA-007-unified-retry-architecture.md
  tasks/LGDA-008-configuration-management.md
  tasks/LGDA-009-error-handling-recovery.md
  tasks/LGDA-010-test-infrastructure-enhancement.md
  tasks/LGDA-011-production-observability.md
  tasks/LGDA-012-performance-optimization.md
  tasks/LGDA-013-security-hardening.md
Due: lgda-task-validation

ci(lint): relax mypy on src/* via override, keep flake8 relaxed; tests green (411/1), lint green; prep for merge
  .flake8
  pyproject.toml
  src/bq.py
  src/llm.py
  src/llm/providers/bedrock.py
  src/llm/providers/gemini.py
Due: adr-reference-check

ci: unblock merge - actionlint permissions, allow-failure for py3.13, relax security scans, codecov input fix
  .github/workflows/auto-label.yml
  .github/workflows/ci.yml
Due: none

ci: fix workflow triggers for main only; deps: add google-generativeai to poetry to fix test import
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Update src/configuration/unified.py
  src/configuration/unified.py
Due: adr-reference-check

chore(tasks): satisfy task validator — add required sections, ADR, security/perf notes for LGDA-014..019
  tasks/LGDA-014-no-fabrication-on-error.md
  tasks/LGDA-015-retry-logic-sql-type-errors.md
  tasks/LGDA-016-llm-429-handling-and-fallback.md
  tasks/LGDA-017-bigquery-storage-handling.md
  tasks/LGDA-018-latency-profiling-instrumentation.md
  tasks/LGDA-019-unified-retry-e2e-fixes.md
Due: lgda-task-validation

chore: remove unused imports for flake8 compliance
  src/agent/graph.py
  src/agent/nodes.py
  src/agent/state.py
Due: adr-reference-check

feat: implement error_handler_node and document error propagation issue
  scripts/validate_tasks.py
  src/agent/graph.py
  src/agent/nodes.py
  tasks/LGDA-016-error-propagation-after-retries.md
  tests/integration/test_langgraph_flow.py
Due: lgda-task-validation, adr-reference-check

Update src/agent/nodes.py
  src/agent/nodes.py
Due: adr-reference-check
